<div class="mb-4">
  <a [routerLink]="['/companies']"><i class="fa fa-arrow-left fa-2x"></i></a>
</div>

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{ company.name }}</mat-card-title>
    <mat-card-subtitle>{{ company.city }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <hr>
    <div class="row row-cols-3">
      <div class="col font-weight-bold">Total Income:</div>
      <div class="col font-weight-bold">Average All-Time Income:</div>
      <div class="col font-weight-bold">Last Month Income:</div>
      <div class="col income">{{ company.totalIncome | currency }}</div>
      <div class="col income">{{ company.averageIncome | currency }}</div>
      <div class="col income">{{ company.lastMonthIncome | currency }}</div>
    </div>
    <div class="row mt-4">
      <div class="col-2"></div>
      <div class="col text-center">
        <h4>Calculate incomes in a specified time!</h4>
      </div>
      <div class="col-2"></div>
    </div>
    <div class="row mt-4">
      <div class="col">
        <mat-form-field>
          <mat-label>Start Date</mat-label>
          <input
            matInput
            [matDatepicker]="picker1"
            [max]="endDate"
            [value]="startDate"
            (dateChange)="updateValueStart($event)"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker1"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-label>End Date</mat-label>
          <input
            matInput
            [matDatepicker]="picker2"
            [min]="startDate"
            [value]="endDate"
            (dateChange)="updateValueEnd($event)"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker2"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="row row-cols-2 mt-4">
      <div class="col font-weight-bold">Total income in the period:</div>
      <div class="col font-weight-bold">Average income in the period:</div>
      <div class="col income">{{ company.selectedTotalIncome | currency }}</div>
      <div class="col income">{{ company.selectedAvgIncome | currency }}</div>
    </div>
    <div class="mt-4">
      <app-chart></app-chart>
    </div>
  </mat-card-content>
</mat-card>
